body {
    margin: 0px;
}
header {
    display: inline-block;
}
h1 {
    width: 409px;
    height: 38px;
    text-align: center;
    margin-left: 496px;
    margin-right: 495px;
    margin-top: 100px;
    margin-bottom: 25px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #212121;
    vertical-align: middle;
}
hr {
    width: 64px;
    height: 2px;
    border: none;
    background-color: red;
}
h2 {
    width: 363px;
    height: 19px;
    margin-left: 519px;
    margin-right: 518px;
    margin-top: 30px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19,07px;
    color: #86878B;
}
main {
    margin-left: 143px;
    margin-right: 143px;
    margin-top: 67px;
}
.card {
    display: inline-block;
    left: 143px;
    right: 143px;
    top: 31px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}
#lamp {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 1px solid #E72424;
    box-sizing: border-box;
    border-radius: 100%;
    background-image: url(../img/lamp.png);
    background-repeat: no-repeat;
    background-position: center;
}
#keyboard {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 1px solid #E72424;
    box-sizing: border-box;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/keyboard.png);
}
#lightning {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 1px solid #E72424;
    box-sizing: border-box;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/lightning.png);
}
p {
    width: 350px;
    height: 60px;
    left: 0px;
    top: 145px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    padding-top: 16px;
    padding-right: 32px;
}